## Data Preprocessing for Covid-19 Twitter Dataset

This notebook contains the code and techniques we used for preprocessing twitter data

In [51]:
import pandas as pd
import numpy as np
import json
import os
import us
from tqdm import tqdm

In [50]:
# Create a dataframe template for tweets per state
us_states = [state.name for state in us.states.STATES]
columns = ['date'] + us_states
df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [date, Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming]
Index: []

[0 rows x 51 columns]

In [49]:
json_files = [f for f in os.listdir('./') if f.endswith('.json')]
# show the first 10 files
for i in range(10):
    print(json_files[i])

covid19_2020_02_06_13_19_22_minimal.json
covid19_2020_02_07_minimal.json
covid19_2020_02_08_00_00_00_minimal.json
covid19_2020_02_09_minimal.json
covid19_2020_02_10_00_00_00_minimal.json
covid19_2020_02_11_minimal.json
covid19_2020_02_12_0_minimal.json
covid19_2020_02_13_minimal.json
covid19_2020_02_14_0_minimal.json
covid19_2020_02_15_00_00_00_minimal.json

In [52]:
# Read every json file and count number of tweet originated from each US state
for fname in json_files:
    tweets_per_state = {}
    print(f'reading: {fname}')
    with open(fname, 'r') as f:
        for line in tqdm(f):
            try:
                tweet = json.loads(line)
            except:
                continue
            if tweet['location'] is not None:
                country, state = tweet['location']['country'], tweet['location']['state']
                if (country == 'United States') and (state in us_states):
                    if state in tweets_per_state.keys():
                        tweets_per_state[state] += 1
                    else:
                        tweets_per_state[state] = 1
        if bool(tweets_per_state):
            y, m, d = fname[8:18].split('_')
            tweets_per_state['date'] = '/'.join([d, m, y])
            df = df.append(tweets_per_state, ignore_index=True)

10085it [00:00, 100123.69it/s]

reading: covid19_2020_02_06_13_19_22_minimal.json

378296it [00:02, 163596.53it/s]
11466it [00:00, 113830.19it/s]

reading: covid19_2020_02_07_minimal.json

804285it [00:05, 146411.25it/s]
13954it [00:00, 138532.43it/s]

reading: covid19_2020_02_08_00_00_00_minimal.json

759685it [00:04, 176214.13it/s]
15597it [00:00, 155281.54it/s]

reading: covid19_2020_02_09_minimal.json

1059586it [00:05, 179602.86it/s]
668it [00:00, 35256.01it/s]
13412it [00:00, 133096.43it/s]

reading: covid19_2020_02_10_00_00_00_minimal.json
reading: covid19_2020_02_11_minimal.json

286900it [00:01, 169865.23it/s]
13170it [00:00, 130689.03it/s]

reading: covid19_2020_02_12_0_minimal.json

1274067it [00:07, 180173.62it/s]
16751it [00:00, 166295.35it/s]

reading: covid19_2020_02_13_minimal.json

751245it [00:04, 174979.00it/s]
14314it [00:00, 142103.07it/s]

reading: covid19_2020_02_14_0_minimal.json

853189it [00:04, 176355.40it/s]
15433it [00:00, 153205.48it/s]

reading: covid19_2020_02_15_00_00_00_minimal.json

463129it [00:02, 174893.39it/s]
31329it [00:00, 148366.08it/s]

reading: covid19_2020_02_16_00_00_00_minimal.json

454233it [00:02, 172916.18it/s]
32202it [00:00, 150407.57it/s]

reading: covid19_2020_02_17_00_00_00_minimal.json

497281it [00:02, 168216.47it/s]
13401it [00:00, 133557.33it/s]

reading: covid19_2020_02_18_0_minimal.json

752972it [00:04, 171373.35it/s]
15525it [00:00, 154127.17it/s]

reading: covid19_2020_02_19_00_00_00_minimal.json

494639it [00:02, 169715.20it/s]
13627it [00:00, 135228.74it/s]

reading: covid19_2020_02_20_minimal.json

586811it [00:03, 174133.34it/s]
14485it [00:00, 144244.86it/s]

reading: covid19_2020_02_21_0_minimal.json

845044it [00:04, 175596.77it/s]
12593it [00:00, 124867.01it/s]

reading: covid19_2020_02_22_00_00_00_minimal.json

700065it [00:04, 170365.20it/s]
13316it [00:00, 132142.19it/s]

reading: covid19_2020_02_23_00_00_00_minimal.json

953635it [00:05, 170989.00it/s]
14638it [00:00, 145317.19it/s]

reading: covid19_2020_02_24_00_minimal.json

1456355it [00:08, 172730.00it/s]
17255it [00:00, 172230.69it/s]

reading: covid19_2020_02_25_minimal.json

1865143it [00:10, 175716.42it/s]
15860it [00:00, 157442.13it/s]

reading: covid19_2020_02_26_minimal.json

3390756it [00:21, 161244.92it/s]
8148it [00:00, 80888.60it/s]

reading: covid19_2020_02_27_00_00_00_minimal.json

2470408it [00:14, 168096.19it/s]
14239it [00:00, 141355.82it/s]

reading: covid19_2020_02_28_00_00_00_minimal.json

2681950it [00:15, 170728.28it/s]
50it [00:00, 2169.26it/s]
12564it [00:00, 125328.46it/s]

reading: covid19_2020_02_29_00_00_00_minimal.json
reading: covid19_2020_03_01_00_00_00_minimal.json

2255820it [00:13, 162717.52it/s]
11052it [00:00, 109717.82it/s]

reading: covid19_2020_03_02_minimal.json

471024it [00:02, 158294.71it/s]
12772it [00:00, 126738.98it/s]

reading: covid19_2020_03_03.json

4052304it [00:23, 174403.11it/s]
29it [00:00, 1002.76it/s]
114it [00:00, 114198.87it/s]
13236it [00:00, 132033.69it/s]

reading: covid19_2020_03_04_00_00_00_minimal.json
reading: covid19_2020_03_05_00_00_00_minimal.json
reading: covid19_2020_03_06.json

8587709it [00:53, 161397.92it/s]
14476it [00:00, 143337.12it/s]

reading: covid19_2020_03_07_00_00_00_minimal.json

2556585it [00:16, 158134.10it/s]
11it [00:00, 459.80it/s]
12657it [00:00, 125652.81it/s]

reading: covid19_2020_03_08_00_00_00_minimal.json
reading: covid19_2020_03_09_12_07_43_minimal.json

1172663it [00:07, 163406.15it/s]
31023it [00:00, 153453.67it/s]

reading: covid19_2020_03_10_00_00_00_minimal.json

2381277it [00:13, 171459.34it/s]
14375it [00:00, 142661.71it/s]

reading: covid19_2020_03_11.json

4682352it [00:27, 169556.31it/s]
14819it [00:00, 147700.66it/s]

reading: covid19_2020_03_12.json

2419015it [00:14, 172148.27it/s]
83it [00:00, 2774.12it/s]
11it [00:00, 11021.82it/s]
10it [00:00, 10031.82it/s]
20it [00:00, 20082.85it/s]
0it [00:00, ?it/s]

reading: covid19_2020_03_13_00_00_00_minimal.json
reading: covid19_2020_03_14_00_00_00_minimal.json
reading: covid19_2020_03_15_00_00_00_minimal.json
reading: covid19_2020_03_16_00_00_00_minimal.json
reading: covid19_2020_03_17.json

2967449it [00:17, 171270.95it/s]
16490it [00:00, 163658.95it/s]

reading: covid19_2020_03_18_minimal.json

937820it [00:05, 171394.20it/s]
13989it [00:00, 138843.42it/s]

reading: covid19_2020_03_19_minimal.json

1354600it [00:09, 136967.52it/s]
27it [00:00, 902.41it/s]
64it [00:00, 32345.52it/s]
28it [00:00, 28122.73it/s]
48it [00:00, 48141.22it/s]
0it [00:00, ?it/s]

reading: covid19_2020_03_20_00_00_00_minimal.json
reading: covid19_2020_03_21_00_00_00_minimal.json
reading: covid19_2020_03_22_00_00_00_minimal.json
reading: covid19_2020_03_23_00_00_00_minimal.json
reading: covid19_2020_03_24.json

1439116it [00:08, 167216.39it/s]
14158it [00:00, 140555.37it/s]

reading: covid19_2020_03_25_minimal.json

711355it [00:04, 168348.00it/s]
12650it [00:00, 125525.68it/s]

reading: covid19_2020_03_26_minimal.json

1038287it [00:06, 151835.34it/s]
15046it [00:00, 149370.75it/s]

reading: covid19_2020_03_27.json

1415906it [00:08, 175996.57it/s]
14369it [00:00, 142647.73it/s]

reading: covid19_2020_03_28.json

359164it [00:02, 177461.04it/s]
18134it [00:00, 179945.84it/s]

reading: covid19_2020_03_29.json

1835137it [00:10, 180986.65it/s]
15591it [00:00, 154738.81it/s]

reading: covid19_2020_03_30.json

1996300it [00:11, 177832.50it/s]
17442it [00:00, 173086.42it/s]

reading: covid19_2020_03_31.json

5191496it [00:30, 171312.38it/s]
32432it [00:00, 152327.67it/s]

reading: covid19_2020_04_01.json

186263it [00:01, 178030.96it/s]
15851it [00:00, 157360.61it/s]

reading: covid19_2020_04_02.json

1490905it [00:08, 178116.76it/s]
15892it [00:00, 157701.19it/s]

reading: covid19_2020_04_03.json

900841it [00:05, 177901.90it/s]
15342it [00:00, 152249.14it/s]

reading: covid19_2020_04_04.json

846260it [00:04, 179334.93it/s]
21it [00:00, 842.26it/s]
12269it [00:00, 121818.22it/s]

reading: covid19_2020_04_05_00_00_00_minimal.json
reading: covid19_2020_04_06.json

1672412it [00:09, 176596.78it/s]
17978it [00:00, 178359.44it/s]

reading: covid19_2020_04_07.json

898399it [00:07, 126887.85it/s]
12926it [00:00, 128326.05it/s]

reading: covid19_2020_04_08.json

2259436it [00:12, 175187.21it/s]
15561it [00:00, 154414.02it/s]

reading: covid19_2020_04_09.json

1096247it [00:07, 155979.47it/s]
10722it [00:00, 107186.11it/s]

reading: covid19_2020_04_10.json

2539727it [00:14, 176101.89it/s]
16978it [00:00, 168549.68it/s]

reading: covid19_2020_04_11.json

316304it [00:01, 175413.32it/s]
14646it [00:00, 146099.62it/s]

reading: covid19_2020_04_12_00_00_00_minimal.json

1446411it [00:08, 177323.90it/s]
17818it [00:00, 176874.58it/s]

reading: covid19_2020_04_13.json

1478361it [00:08, 171238.72it/s]
17930it [00:00, 177938.79it/s]

reading: covid19_2020_04_14.json

1500836it [00:08, 178503.11it/s]
17912it [00:00, 177767.72it/s]

reading: covid19_2020_04_15.json

1508079it [00:08, 177453.68it/s]
18112it [00:00, 179761.98it/s]

reading: covid19_2020_04_16_00_00_00_minimal.json

1526559it [00:08, 179854.31it/s]
14770it [00:00, 146521.83it/s]

reading: covid19_2020_04_17.json

844516it [00:04, 173204.45it/s]
36430it [00:00, 180864.47it/s]

reading: covid19_2020_04_18.json

1453290it [00:08, 176707.22it/s]
18376it [00:00, 182365.36it/s]

reading: covid19_2020_04_19.json

1517732it [00:08, 179134.27it/s]
18378it [00:00, 183187.94it/s]

reading: covid19_2020_04_20.json

1509754it [00:08, 176981.91it/s]
16626it [00:00, 165013.79it/s]

reading: covid19_2020_04_21.json

1548554it [00:10, 143977.88it/s]
16666it [00:00, 165453.08it/s]

reading: covid19_2020_04_22_00_00_00_minimal.json

1271166it [00:07, 173714.72it/s]
15510it [00:00, 153611.39it/s]

reading: covid19_2020_04_23.json

1525187it [00:08, 173821.34it/s]
17238it [00:00, 171131.65it/s]

reading: covid19_2020_04_24.json

1414102it [00:09, 153592.70it/s]
17093it [00:00, 169640.36it/s]

reading: covid19_2020_04_25.json

1373459it [00:07, 177234.86it/s]
17752it [00:00, 176270.73it/s]

reading: covid19_2020_04_26.json

1443852it [00:08, 178176.17it/s]
13638it [00:00, 135391.72it/s]

reading: covid19_2020_04_27.json

1378653it [00:07, 175810.37it/s]
17704it [00:00, 175707.17it/s]

reading: covid19_2020_04_28.json

965482it [00:05, 174825.25it/s]
14418it [00:00, 143014.35it/s]

reading: covid19_2020_04_29.json

83946it [00:00, 169648.22it/s]

In [57]:
# After reading all json file, here is the result tweet_per_state dataframe
df

,date,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,06/02/2020,382,119,981,188,8913,494,464,59,3810,...,60,734,3856,237,50,1017,879,149,667,27
1,07/02/2020,702,224,1772,380,14130,896,705,106,6471,...,134,1195,6975,445,81,1906,1341,251,904,44
2,08/02/2020,717,248,1674,335,13303,843,665,126,6467,...,127,1194,6472,428,76,1668,1167,274,845,55
3,09/02/2020,886,320,2504,511,18202,1191,820,147,8908,...,238,1698,8310,612,153,2318,1766,368,1306,81
4,10/02/2020,NaN,NaN,2,NaN,15,NaN,2,NaN,1,...,NaN,NaN,8,1,NaN,NaN,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,25/04/2020,1551,465,4888,847,29870,2614,1945,339,15547,...,203,3601,12543,747,214,4449,3023,738,2214,172
79,26/04/2020,1682,457,4673,863,29948,2693,2139,336,15656,...,172,3593,12519,827,243,4389,3113,744,2218,164
80,27/04/2020,1520,368,4197,872,27727,2529,2069,290,14010,...,194,3181,12045,739,227,4312,2804,692,2117,140
81,28/04/2020,1217,342,4202,689,27932,2388,1581,282,11743,...,149,2695,11226,691,175,3309,2813,527,1814,115
82,29/04/2020,83,36,433,54,3085,208,83,23,766,...,16,241,1223,104,5,197,276,47,119,12

In [58]:
# Convert NaN cell to 0
df = df.fillna(0)
df.head(5)

,date,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,06/02/2020,382,119,981,188,8913,494,464,59,3810,...,60,734,3856,237,50,1017,879,149,667,27
1,07/02/2020,702,224,1772,380,14130,896,705,106,6471,...,134,1195,6975,445,81,1906,1341,251,904,44
2,08/02/2020,717,248,1674,335,13303,843,665,126,6467,...,127,1194,6472,428,76,1668,1167,274,845,55
3,09/02/2020,886,320,2504,511,18202,1191,820,147,8908,...,238,1698,8310,612,153,2318,1766,368,1306,81
4,10/02/2020,0,0,2,0,15,0,2,0,1,...,0,0,8,1,0,0,1,1,0,0

In [61]:
# Total Tweets collected per state
df.sum(axis=0, numeric_only=True)

Alabama            137557
Alaska              34592
Arizona            379054
Arkansas            74228
California        2574728
Colorado           228325
Connecticut        155761
Delaware            24731
Florida           1246029
Georgia            484180
Hawaii              73225
Idaho               51195
Illinois           506448
Indiana            165630
Iowa                68116
Kansas              75673
Kentucky           111014
Louisiana          185205
Maine               46146
Maryland           290338
Massachusetts      349382
Michigan           383437
Minnesota          230188
Mississippi         41294
Missouri           167090
Montana             26318
Nebraska            49662
Nevada             204932
New Hampshire       51433
New Jersey         376521
New Mexico          64876
New York          1516197
North Carolina     280339
North Dakota        10885
Ohio               457105
Oklahoma            97356
Oregon             266551
Pennsylvania       568146
Rhode Island        34490
South Carolina     166696
South Dakota        16689
Tennessee          279313
Texas             1187773
Utah                74012
Vermont             19737
Virginia           370840
Washington         289545
West Virginia       55361
Wisconsin          179953
Wyoming             10648
dtype: int64

In [63]:
# Adding total count as another column of dataframe
df['total'] = df.sum(axis=1, numeric_only=True)
df[['date', 'total']]

          date   total
0   06/02/2020   44483
1   07/02/2020   76642
2   08/02/2020   71182
3   09/02/2020   97588
4   10/02/2020      57
..         ...     ...
78  25/04/2020  174201
79  26/04/2020  176629
80  27/04/2020  166022
81  28/04/2020  145513
82  29/04/2020   12142

[83 rows x 2 columns]

In [73]:
sorted_total = np.sort(df['total'].to_numpy())
print(f'sorted total counts:\n{sorted_total}')
# By sorting total tweet counts,
# we can see that there are dates where data was not collected fully and properly
# To avoid outliers, we will drop row where total count is < 100
us_tweetcount_df = df[df['total'] >= 100]
us_tweetcount_df = us_tweetcount_df.reset_index(drop=True)
us_tweetcount_df

sorted total counts:
[      2       2       2       2       2       3       3       4       8
       9      16      18      57   12142   14510   29397   40463   44048
   44483   46299   47020   48580   48808   53375   54470   61961   70575
   71182   74110   75311   76642   88424   89305   97588  107688  115678
  125996  132047  132880  138549  143648  143884  145513  146331  152253
  158786  161254  161503  166022  174201  176629  179575  185278  190756
  191678  193348  194274  196008  196605  199355  201396  201722  203709
  211000  212463  218917  223340  265164  313625  321524  330120  332861
  350470  371485  371923  373689  401129  441739  449796  545195  794421
  871601 1333095]

,date,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,total
0,06/02/2020,382,119,981,188,8913,494,464,59,3810,...,734,3856,237,50,1017,879,149,667,27,44483
1,07/02/2020,702,224,1772,380,14130,896,705,106,6471,...,1195,6975,445,81,1906,1341,251,904,44,76642
2,08/02/2020,717,248,1674,335,13303,843,665,126,6467,...,1194,6472,428,76,1668,1167,274,845,55,71182
3,09/02/2020,886,320,2504,511,18202,1191,820,147,8908,...,1698,8310,612,153,2318,1766,368,1306,81,97588
4,11/02/2020,292,101,738,147,5336,405,292,38,2510,...,529,2456,162,41,870,465,93,295,13,29397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,25/04/2020,1551,465,4888,847,29870,2614,1945,339,15547,...,3601,12543,747,214,4449,3023,738,2214,172,174201
66,26/04/2020,1682,457,4673,863,29948,2693,2139,336,15656,...,3593,12519,827,243,4389,3113,744,2218,164,176629
67,27/04/2020,1520,368,4197,872,27727,2529,2069,290,14010,...,3181,12045,739,227,4312,2804,692,2117,140,166022
68,28/04/2020,1217,342,4202,689,27932,2388,1581,282,11743,...,2695,11226,691,175,3309,2813,527,1814,115,145513
69,29/04/2020,83,36,433,54,3085,208,83,23,766,...,241,1223,104,5,197,276,47,119,12,12142

In [74]:
# Save raw dataframe (for map animation)
df.to_csv('us_tweetcounts_raw.csv')
# Save dataframe with ouliers removed (for analysis)
us_tweetcount_df.to_csv('us_tweetcounts.csv')